<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <main>
            <!-- this tag starts the form, gives the -->
            <!-- method of sending information and the -->
            <!-- location of form script -->
            <center>
            <p></p>
            
            <form class="forumform" method="POST" action="/update/<%=editdetails._id%>">
                <p>
                    <!-- hidden inputs contain non-visual information-->
                    <!-- here we redirect the browser to a URL after the submit button is clicked -->
                    <input type="hidden" name="redirect" value="/" />
                </p>
                <p>
                    
                    <label class="titletextfield" for="title">Blog Title</label>
                    <input class="titletextfield" type="text" id="title" name="title" value="<%=editdetails.title%>" required>
                    <label class="snippettextfield" for="snippet">Blog Snippet:</label>
                    <input class="snippettextfield" type="text" id="snippet" name="snippet" value="<%=editdetails.snippet%>" required>
                    <label for="body">Blog Body:</label>
                    <textarea id="body" required name="body" rows="12"></textarea>
                    <div class="form-buttons">
                    <input type="submit" value="submit"/>
                    <input type="reset" value="clear"/>
                    
                    </div>
                </p>
            </form>
            <a href="/"><button>Cancel</button></a>
            </center>
        </main>
        
        <script type="text/javascript">
            var test = document.getElementById('body');
            test.textContent = '<%=editdetails.body%>';



        </script>
    </body>
</html>