<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <main>
            <br>
            <h2><%=details.title%></h2>
            <h3><%=details.snippet%></h3>
            <p><%=details.body%></p>
            <a href="/edit/<%=details._id%>"><button>Edit</button></a>
            <a class="delete" data-doc="<%=details._id%>"><button>Delete</button></a>
        </main>
        <script type="text/javascript">
            const deleteButton = document.querySelector("a.delete");
            deleteButton.addEventListener('click', (e)=>{
                const endpoint = `/deleteforum/${deleteButton.dataset.doc}`;
                fetch(endpoint,  {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err));
            });



        </script>
    </body>
</html>