<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <main>
            <!--METHOD 1 (FOR LOOP) OF CYCLING THROUGH DATA FROM FORUM COLLECTION USING EJS
            <% for (var i = 0; i < forum.length; i++) { %>
                <p><%=forum[i].title%></p>
                <p><%=forum[i].snippet%></p>
            <%}%>
            -->
            <!--METHOD 2 (FOR EACH ARRAY METHOD) OF CYCLING THROUGH DATA FROM FORUM COLLECTION USING EJS
            SINCE FORUM REPRESENTS AN ARRAY OF OBJECTS/DOCUMENTS/STRINGS WITHIN THE FORUM COLLECTION ON MONGODB
            WE HAVE ACCESS TO THE FOREACH METHOD ON THE FORUM VARIABLE SENT BY EJS
            -->
            <%if(forum.length > 0){%>
                <%forum.forEach(forum=> {%>
                    <a href="/forum/<%=forum._id%>">
                        <div class="title_snippet_box">
                        <p class="titletext"><%=forum.title%></p>
                        <p class="snippettext"><%=forum.snippet%></p>
                        <div class="somespace"></div>
                        </div>
                    </a>
                    <%})%>
                <%}%>

    
        </main>
        <script type="text/javascript">



        </script>
    </body>
</html>
