<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>News Forum | <%=title%></title>
        <style type="text/css">
            html {
                font-family: sans-serif;
                font-size: 100%;
                overflow: hidden;
            }
            .header {
                display: grid;

            }
            .form-buttons {
                display: flex;
                justify-content: space-evenly;
            }
            .navBox {
                padding: 1%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: #CD5C5C;
            }
            .homelink {
            }
            .newforumlink{
            }
            .aboutlink:hover{
            }
            li {list-style-type: none}
            a {
                color: inherit;
                text-decoration: none;
            }
            form{
                background-color: #CD5C5C;
            }
            .titletext{
                position: relative;
                font-weight: bolder;
                font-size: 150%;
                top: 10px;
                left: 5%;
            }
            .snippettext{
                position: relative;
                left: 7.5%;
            }
            .somespace{
                height: 25px;
            }
            .title_snippet_box{
                background-color: gray;
                border-radius: 15px;
            }
            .title_snippet_box:hover{
                background-color: #CD5C5C;
            }
            .titletextfield{
            }
            .snippettextfield{
                
            }
            .forumform {
                border-radius: 10px;
                max-width: 35%;
                max-height: 100%;
                border: 2px solid;
                padding: 3%;
            }
            label {
                display: block;
                width: 100%;
                padding: 15px;
            }
            input, textarea {
                display: block;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="header">
            <center>
                <a href="/"><h1>News Forum</h1></a>
                <button><a href="/signup">Sign Up</a></button>
                <button><a href="/login">Login</a></button>
                <button><a href="/logout">Log Out</a></button>
            </center>
            </div>
    
    
    
        </header>
        <nav>
            <div class="unlistedContainer">
                <ul class="navBox">
                    <li class="homelink"><a href="/">Home</a></li>    
                    <li class="newforumlink"><a href="/addNewForum">New Forum</a></li>    
                    <li class="aboutlink"><a href="/about">About</a></li>    
                </ul>
            </div>
    
    
            
        </nav>
        <main>
            <!--METHOD 1 (FOR LOOP) OF CYCLING THROUGH DATA FROM FORUM COLLECTION USING EJS
            <% for (var i = 0; i < forum.length; i++) { %>
                <p><%=forum[i].title%></p>
                <p><%=forum[i].snippet%></p>
            <%}%>
            -->
            <!--METHOD 2 (FOR EACH ARRAY METHOD) OF CYCLING THROUGH DATA FROM FORUM COLLECTION USING EJS
            SINCE FORUM REPRESENTS AN ARRAY OF OBJECTS/DOCUMENTS/STRINGS WITHIN THE FORUM COLLECTION ON MONGODB
            WE HAVE ACCESS TO THE FOREACH METHOD ON THE FORUM VARIABLE SENT BY EJS
            -->
            <%if(forum.length > 0){%>
                <%forum.forEach(forum=> {%>
                    <a href="/forum/<%=forum._id%>">
                        <div class="title_snippet_box">
                        <p class="titletext"><%=forum.title%></p>
                        <p class="snippettext"><%=forum.snippet%></p>
                        <div class="somespace"></div>
                        </div>
                    </a>
                    <%})%>
                <%}%>

    
        </main>
        <script type="text/javascript">



        </script>
    </body>
</html>
